/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .logo h1 {
  font-size: 24px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Banner */
.banner {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.banner h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.banner button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.banner button:hover {
  background-color: #444;
}

/* Produtos */
.produtos {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  text-align: center;
}

.produtos h2 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.produto-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.produto-card img {
  width: 100%;
  border-radius: 8px;
}

.produto-card h3 {
  font-size: 20px;
  margin: 15px 0;
}

.produto-card p {
  font-size: 18px;
  margin-bottom: 15px;
}

.produto-card button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.produto-card button:hover {
  background-color: #218838;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

footer p {
  font-size: 14px;
}
